<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.imbmigrations</package>
	<author>jberchmas</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.imbmigrations.ModuleActivator</activator>
	
	<require_version>1.9.11</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.imbmigrations.web.extensions.AdminList</class>
	</extension>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
</module>

